<style>
  hr{
    height: 2px !important;
    background-color: #ae75e7;
  }
  ion-label {
    font-size: 1.4rem !important;;
    color: #ae75e7;
}
.select-md {
    padding: 0px 5px 0px 0px;
    width: 200px;
}
  .item-md {
    font-size: 1.4rem !important;
}
 .text-input[disabled]{
  opacity: 1!important;
}
.select-disabled, .item-select-disabled ion-label {
    opacity: 1!important;
    pointer-events: none;
}
.datetime-disabled, .item-datetime-disabled ion-label {
    opacity: 1 !important;
    pointer-events: none;
}
  </style>
<ion-header>
  <ion-navbar>
    <ion-title>I-Card Printing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
  <div  class="event-example-view">
  <form class="sample-form event-form" [formGroup]="icardForm">
      <section class="form-section">
          <h1 class="section-title">Please provide below details</h1>
          <hr>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Job Type</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="jobType" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let jobType of jobTypeList" 
                    [value]="jobType.Value" >{{jobType.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Job Quality</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="jobQuality" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let jQuality of jobQualityList" 
                    [value]="jQuality.Value" >{{jQuality.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Job Quantity</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-input type="number" placeholder="e.g. 100" formControlName="jobQuantity"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Less required</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item" >
                <ion-toggle (ionChange)="onLessRequiredChange()" formControlName="lessRequired"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Less Type</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="lessType" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let less of lessTypeList" 
                    [value]="less.Value" >{{less.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Less print required</ion-label>
            </ion-col>
             <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="lessPrintRequired" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let lessPrint of lessPrintingType" 
                    [value]="lessPrint.Value" >{{lessPrint.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Holder required</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item" >
                <ion-toggle (ionChange)="onHolderRequiredChange()" formControlName="holderRequired"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Holder Types</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="holderType" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let hType of holderTypeList" 
                    [value]="hType.Value" >{{hType.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Holder Quality</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="holderQuality" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let hQuality of holderQualityList" 
                    [value]="hQuality.Value" >{{hQuality.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Hook Types</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="hookType" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let hookT of hookTypeList" 
                    [value]="hookT.Value" >{{hookT.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Access Card Required</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item" >
                <ion-toggle formControlName="accessCardReq"></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Expected delivery</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-datetime formControlName="expDelivery" min="{{currentDate}}" placeholder="Select Date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Payment mode</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="payMode" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let payment of paymentModeList" 
                    [value]="payment.Value" >{{payment.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Expected cost</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-input type="number" formControlName="expCost"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <h2 class="section-title">Optional</h2>
          <hr>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Delivery at</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="deliveryAt" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let delivery of deliveryList" 
                    [value]="delivery.Value" >{{delivery.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-100>
                <ion-label >Details/Special instructions</ion-label>
            </ion-col>
            <ion-col no-padding width-100>
              <ion-item class="multi-input time-item">
                <ion-textarea formControlName="details" rows="3" placeholder="Your description here..."></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
    </section>
  </form>
   <div class="sample-form event-form" >
        <section class="form-section" style="padding-top:20px;">
          <ion-row *ngIf="!isEditDesiable" no-padding class="multi-input-row">
              <ion-col no-padding width-50>
                  <button ion-button block class="form-action-button create-event-button" (click)="ClearForm()" type="button"  >{{clearBtnText}}</button>
              </ion-col>
              <ion-col no-padding width-50>
                  <button ion-button block class="form-action-button create-event-button" (click)="onICardSave()" type="button" [disabled]="(!(this.icardForm.valid && this.icardForm.dirty)||_isSaving)" >Post</button>
              </ion-col>
          </ion-row>
          <ion-row *ngIf="isEditDesiable" no-padding class="multi-input-row">
              <ion-col no-padding width-100>
                  <button ion-button block class="form-action-button create-event-button" (click)="onRespondClick()" type="button" >Send Response</button>
              </ion-col>
          </ion-row>
        </section>
     </div>
   </div>
</ion-content>