forgot-password-page {
	.forgot-password-content
	{
		.recover-message
		{
			color: $white-d;
			margin: 10px 0px;
		}
		.auth-title
		{
			font-size: 1.6rem;
			line-height: 1.2;
			letter-spacing: 1.1px;
			text-align: left;
			color: $theme-color-2;
			font-weight: 400;
			margin:0!important; 
		}
	}
}
