<style>
  .col{
    padding:0px;
  }
  .opps{
    text-align: center;
    color: #ae75e7;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
  }
</style>

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
    <ion-buttons end (click)="doRefresh()">
      <button style="font-size: 3rem;" ion-button>
       <ion-icon ios="ios-refresh" md="md-refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="notification-content">
  <ion-segment *ngIf="!showBuyPanal" class="notification-segment" [(ngModel)]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="Active" (ionSelect)="onSegmentSelected(false)">
      <ion-icon ios="ios-checkmark-circle-outline" md="md-checkmark-circle-outline"></ion-icon>
       &nbsp;Active
    </ion-segment-button>
    <ion-segment-button value="Closed" (ionSelect)="onSegmentSelected(true)">
      <ion-icon ios="ios-share-alt" md="md-share-alt"></ion-icon>
      &nbsp;Responded 
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="!showBuyPanal" [ngSwitch]="segment">
    <div *ngSwitchCase="'Active'">
      <ion-list class="notification-list">
        <ion-item class="notification-item" *ngFor="let item of notifications.notifications">
          <ion-row>
            <ion-col width-15 class="notification-date">
              <h2 class="notification-day">{{item.DocDay}}</h2>
              <h3 class="notification-month">{{item.DocMonth}}</h3>
              <h4 class="notification-time">{{item.DocTime}}</h4>
            </ion-col>
            <ion-col width-85 class="notification-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.DocName}}</h2>
                  <ion-row>
                    <ion-col width-90>
                      <div class="item-description">
                      <p class="description-text">{{item.JobTypeName}}</p>
                    </div>
                    </ion-col>
                    <ion-col width-10>
                      <ion-icon style="font-size: 1.6em;" [ngStyle]="item.SubActive==false && {'color':'gray'}" class="item-icon" name="arrow-forward" (click)='GoToJobPage(item);' ></ion-icon>
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col width-60>
                      <div class="item-description">
                      <ion-icon class="description-icon" name="clock"></ion-icon>
                      <p class="description-text">{{item.ExpectedDate}}</p>
                  </div>
                    </ion-col>
                     <ion-col width-40>
                      <div class="item-description">
                         <span class="description-icon">&#x20B9;</span> 
                          <p class="description-text one-line">{{item.ExpectedCost}}/-</p>
                      </div>
                    </ion-col>
                  </ion-row>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      
    </div>
    <div *ngSwitchCase="'Closed'">
      <ion-list class="notification-list">
        <ion-item class="notification-item" *ngFor="let item of notifications.notifications">
          <ion-row>
            <ion-col width-15 class="notification-date">
              <h2 class="notification-day">{{item.DocDay}}</h2>
              <h3 class="notification-month">{{item.DocMonth}}</h3>
              <h4 class="notification-time">{{item.DocTime}}</h4>
            </ion-col>
            <ion-col width-85 class="notification-data">
              <div class="data-item">
                <div class="item-content">
                  <h2 class="item-title one-line">{{item.DocName}}</h2>
                  <ion-row>
                    <ion-col width-90>
                      <div class="item-description">
                      <p class="description-text">{{item.JobTypeName}}</p>
                    </div>
                    </ion-col>
                    <ion-col width-10>
                      <ion-icon style="font-size: 1.6em;" [ngStyle]="item.SubActive==false && {'color':'gray'}" class="item-icon" name="arrow-forward" (click)='GoToJobPage(item);' ></ion-icon>
                    </ion-col>
                  </ion-row>
                  
                  <ion-row>
                    <ion-col width-60>
                      <div class="item-description">
                      <ion-icon class="description-icon" name="clock"></ion-icon>
                      <p class="description-text">{{item.ExpectedDate}}</p>
                  </div>
                    </ion-col>
                     <ion-col width-40>
                      <div class="item-description">
                         <span class="description-icon">&#x20B9;</span> 
                          <p class="description-text one-line">{{item.ExpectedCost}}/-</p>
                      </div>
                    </ion-col>
                    
                  </ion-row>
                  <div *ngIf="lastLoadType" class="item-description">
                      <p class="description-text">Reponded:</p>
                    </div>
                  <ion-row *ngIf="lastLoadType">
                    <ion-col width-60>
                      <div class="item-description">
                      <ion-icon class="description-icon" name="clock"></ion-icon>
                      <p class="description-text">{{item.ReceivedDate}}</p>
                  </div>
                    </ion-col>
                     <ion-col width-40>
                      <div class="item-description">
                         <span class="description-icon">&#x20B9;</span> 
                          <p class="description-text one-line">{{item.ReceivedCost}}/-</p>
                      </div>
                    </ion-col>
                    
                  </ion-row>
                </div>
                
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      
    </div>
     <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more data...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
  </div>
  <div class="opps" *ngIf="showBuyPanal" >
    <h1>Oops!</h1>
    <h5>No notifications to show…</h5>
    <h6>Please purchase modules to start getting notifications for
    new enquiries.</h6>
      <Br>
        To buy subscription CALL ADMIN
      <br>
      <br>
        Or
       <br>
      <button style="margin: 7px;" (click)="onAddModules()" ion-button small outline>Click here</button>
  </div>
</ion-content>