<style>
  hr{
    height: 2px !important;
    background-color: #ae75e7;
  }
  ion-label {
    font-size: 1.4rem !important;;
    color: #ae75e7;
}
.select-md {
    padding: 0px 5px 0px 0px;
    width: 200px;
}
  .item-md {
    font-size: 1.4rem !important;
}
 .text-input[disabled]{
  opacity: 1!important;
}
.select-disabled, .item-select-disabled ion-label {
    opacity: 1!important;
    pointer-events: none;
}
.datetime-disabled, .item-datetime-disabled ion-label {
    opacity: 1 !important;
    pointer-events: none;
}
  
  </style>
<ion-header>
  <ion-navbar>
    <ion-title>Offset printing</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="forms-examples-content">
  <div  class="event-example-view">
  <form class="sample-form event-form" [formGroup]="jobOffsetForm">
        <section class="form-section">
          <h1 class="section-title">Please provide below details</h1>
          <hr>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Job Type</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="jobType" placeholder="Select" style="max-width:100%">
                    <ion-option (ionSelect)="onJobTypeChange($event)" *ngFor="let jobType of jobTypeList" 
                    [value]="jobType.Value" >{{jobType.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Printing Qty</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-input type="number" placeholder="e.g. 100" formControlName="jobQuantity"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
           <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >GSM</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-input type="number" placeholder="e.g. 10" formControlName="jobGSM"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Job size</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="jobSize" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let jobs of jobSizeList" 
                    [value]="jobs.Value" >{{jobs.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
           <ion-row *ngIf="isPlatesUsed" no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >No of plates</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="noofPlates" placeholder="Select" style="max-width:100%">
                    <ion-option (ionSelect)="onPlatesChange($event)"  *ngFor="let plates of noofPlatesList" 
                    [value]="plates.Value" >{{plates.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
           <ion-row no-padding class="multi-input-row" *ngFor="let item of noOfPlates;" >
            <ion-col no-padding width-40>
                <ion-label >Plates-{{item}}</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="plate{{item}}color" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let color of colorsList" 
                    [value]="color.Value" >{{color.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row> 
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Expected delivery</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-datetime formControlName="expDelivery" min="{{currentDate}}" placeholder="Select Date" displayFormat="DD/MM/YY" pickerFormat="DD-MM-YYYY"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Payment mode</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="payMode" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let payment of paymentModeList" 
                    [value]="payment.Value" >{{payment.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Expected cost</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-input type="number" formControlName="expCost"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <h2 class="section-title">Optional</h2>
          <hr>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Output provided</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="outputReq" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let output of outputList" 
                    [value]="output.Value" >{{output.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
           <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-40>
                <ion-label >Delivery at</ion-label>
            </ion-col>
            <ion-col no-padding width-60>
              <ion-item class="multi-input time-item">
               <ion-select formControlName="deliveryAt" placeholder="Select" style="max-width:100%">
                    <ion-option *ngFor="let delivery of deliveryList" 
                    [value]="delivery.Value" >{{delivery.Name}}</ion-option>
              </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row no-padding class="multi-input-row">
            <ion-col no-padding width-100>
                <ion-label >Details/Special instructions</ion-label>
            </ion-col>
            <ion-col no-padding width-100>
              <ion-item class="multi-input time-item">
                <ion-textarea formControlName="details" rows="3" placeholder="Your description here..."></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </section>
      </form>
      <div class="sample-form event-form" >
        <section class="form-section" style="padding-top:20px;">
          <ion-row *ngIf="!isEditDesiable" no-padding class="multi-input-row">
              <ion-col no-padding width-50>
                  <button ion-button block class="form-action-button create-event-button" (click)="ClearForm()" type="button">{{clearBtnText}}</button>
              </ion-col>
              <ion-col no-padding width-50>
                  <button ion-button block class="form-action-button create-event-button" (click)="onOffsetPrintingSave()" type="button" [disabled]="!(this.jobOffsetForm.valid && this.jobOffsetForm.dirty)" >Post</button>
              </ion-col>
          </ion-row>
          <ion-row *ngIf="isEditDesiable" no-padding class="multi-input-row">
              <ion-col no-padding width-100>
                  <button ion-button block class="form-action-button create-event-button" (click)="onRespondClick()" type="button" >Send Response</button>
              </ion-col>
          </ion-row>
        </section>
    </div>
  </div>
</ion-content>