signup-page {
	.signup-content
	{
		.legal-stuff
		{
			color: $white-d;
			text-align: center;
			margin: 10px 12px;

			.legal-action
			{
				font-weight: 500;
				color: $theme-color-2;
			}
		}
	}

	.auth-title
	{
		font-size: 1.6rem;
		line-height: 1.2;
		letter-spacing: 1.1px;
		text-align: left;
		color: $theme-color-2;
		font-weight: 400;
		margin: 0!important;
	}
}
